<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>My Training Point</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/cssS6.css">
    <style>
      @font-face { font-family: JuneBug; src: url('../fonts/SVN-Gilroy Bold.otf') format('truetype'); } 
    </style>
</head>
<body>
<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <!-- Navbar top -->
        <a class="navbar-brand" href="/sinhvien">
            <p style="color:#fff; font-family: SVN-Gilroy; font-weight: bold; font-size: 19px"> <img src="../img/LOGO.png" height="40" width="40" style="margin-top: -11px; margin-right: 10px">MY TRAINING POINT</p>
        </a>
        <!-- Diem -->
        <form class="navbar-form navbar-left" method="GET" role="search" >
            <div class="form-group">
                <p class="point"> <img src="../img/ic_medal.png" height="30" width="30" ><%= diem %></p>
            </div>
            <!-- Search -->
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm tên hoạt động" id="nv_search" style="font-size: 15px" >
            </div>
        </form>
        <!-- Menu dropdowm -->
        <div class="nav navbar-nav navbar-right">
            <div class="btn-group show-on-hover">
                <div data-toggle="dropdown" style="margin-right: 10px">
                    <img src="../img/ic_setting.png" height="25" width="25" style="margin-top:12px; margin-right: 5px">
                    <span class="caret" style="color: #fff"></span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="profile" href="profile">Profile</a></li>
                    <li><a id="help"href="help">Help</a></li>
                    <li><a id="doimatkhau"href="doimatkhau">Đổi mật khẩu</a></li>
                    <li class="divider"></li>
                    <li><a id="dangxuat"href="/logout">Đăng xuất <img src="../img/ic_logout.png" height="15" style="opacity: 50"></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 navbar_left">
         <a href='profile' style=" text-decoration: none;">
            <!-- Thông tin sinh viên -->
            <div class="info">
                <img id="avatar" src="../img/2_avatar.png" class="img-responsive center-block" alt="Avatar" width="85px">
                <p class="name"> <%= datasv[0].Ten %> </p>
                <p class="mssv"> <%= datasv[0].MSSV %> </p>
            </div>
        </a>
            <br>
            <!-- Menu chức năng -->
            <div class="left-navigation" style="background-color: #fff" >
                <ul class="nav" id="nv_content" style="height: 375px">
                    <li><a id="hoatdong" href="hoatdong"><img src="../img/ic_hoatdong.png" height="28" style="margin-right: 14px; margin-left: 50px">HOẠT ĐỘNG</a></li>
                    <li><a id="thamgia" href="thamgia"><img src="../img/ic_thamgia.png" height="28" style="margin-right: 14px; margin-left: 50px">THAM GIA</a> </li>
                    <li><a id="goiy" href="goiy"><img src="../img/ic_goiy.png" height="28" style="margin-right: 16px; margin-left: 48px">GỢI Ý</a></li>
                    <li class="active"><a id="lotrinh" href="lotrinh"><img src="../img/ic_lotrinh.png" height="28" style="margin-right: 17px; margin-left: 47px">LỘ TRÌNH</a></li>
                    <li><a id="lienhe" href="lienhe"><img src="../img/ic_lienhe.png" height="28" style="margin-right: 17px; margin-left: 47px">LIÊN HỆ</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <!-- Hoạt động sắp tới-->
            <article class="module" style="margin-top: -5px">
                <div class="panel-heading">
                    <p style="background-color:#1cc779; color: #ffffff; font-family: SVN-Gilroy; font-weight: bold; border-radius: 8.9px; width: 220px; height: 32px; font-size: 20px; text-align: center">HOẠT ĐỘNG SẮP TỚI</p>
                </div>
                <div class="scrollbar" class="style-default" style="margin-top: -20px; margin-left: 50px ">
                    <div class="force-overflow" ></div>
                    <ul class="list-group" >
                    <%for(var i=0;i<datahdst.length;i++){%>
                        <li class="list-group-item">
                            <%= datahdst[i].Ten %>
                        </li>
                    <%}%>
                    <%if(datahdst.length==0){%>
                        <li class="list-group-item">
                            <i>Trống</i>
                        </li>
                    <%}%>
                    </ul>
                </div>
            </article>
            <!-- Hoạt động đã đăng ký -->
            <article class="module1">
                <div class="panel-heading">
                    <p style="background-color:#ffcc1b; color: #ffffff; font-family: SVN-Gilroy; font-weight: bold; border-radius: 8.9px; width: 260px; height: 32px; font-size: 20px; text-align: center">HOẠT ĐỘNG ĐÃ ĐĂNG KÍ</p>
                </div>
                <div class="scrollbar1" class="style-default" style="margin-top: -20px; margin-left: 50px ">
                    <div class="force-overflow" ></div>
                    <ul class="list-group" >
                    <%for(var i = 0;i<hoatdongdadangki.length;i++){%>
                        <li class="list-group-item">
                        <%if(hoatdongdadangki[i].DaThamGia[0]==0){%>
                            <a href="lotrinh/xoa/<%= hoatdongdadangki[i].MaHD %>"><button class="button btn-primary pull-right xoa" type="submit" >XÓA</button></a>
                            <%= hoatdongdadangki[i].Ten %>
                            <%}else{%>
                            <%= hoatdongdadangki[i].Ten %>
                            <%}%>
                        </li>
                    <%}%>
                    <%if(hoatdongdadangki.length==0){%>
                        <li class="list-group-item">
                            <i>Trống</i>
                        </li>
                    <%}%>
                    </ul>
                </div>
            </article>
        </div>

    </div>
</div>
<script src="../../PageManager/ChangePageManger.js"></script>
</body>
</html>