<!DOCTYPE html>
<html>
<head>
	<title>Sửa Khoa</title>
	<script type="text/javascript">
		function clickbtn() {
			window.location.href = '/admin/danh-sach-khoa';
		}
	</script>
</head>
<body>
  <a href="/admin/danh-sach-khoa/xoa-khoa/<%= khoa[0].MaKhoa %>"><button type="button" name="button">Xóa khoa</button></a>
	<form action="/admin/danh-sach-khoa/sua-khoa/<%= khoa[0].MaKhoa %>" method="post">
		<input type="text" value="<%= khoa[0].MaKhoa %>" name="MaKhoa" placeholder="Mã Khoa"><br>
		<input type="text" value="<%= khoa[0].Ten %>" name="Ten" placeholder="Tên Khoa"><br>
		<input type="text" value="<%= khoa[0].SDT %>" name="SDT" placeholder="Số điện thoại"><br>
		<input type="email" value="<%= khoa[0].Email %>" name="email" placeholder="email của Khoa"><br>
		<input type="text" value="<%= khoa[0].Phong %>" name="Phong" placeholder="Phòng của Khoa"><br>
		<input type="submit" value="Cập nhật">
	</form>
	<button onclick="clickbtn();">Hủy</button>
</body>
</html>
