<!DOCTYPE html>
<html>
<head>
	<title>Thêm ad</title>
	<script type="text/javascript">
		function clickbtn() {
			window.location.href = '/admin/danh-sach-ad';
		}
	</script>
</head>
<body>
	<form action="/admin/danh-sach-ad/them-ad" method="post">
		<input type="text" name="Ten" placeholder="Tên"><br>
		<input type="number" name="NamSinh" placeholder="Năm Sinh"><br>
		<hr>
		<p>Ad có các quyền sau hay không?</p>
		<label for="adminroot">Là admin root</label>
		<select name="adminroot">
			<option value="0">Không</option>
			<option value="1">Có</option>
		</select><br>
		<label for="suasv">sửa sinh viên</label>
		<select name="suasv">
			<option value="0">Không</option>
			<option value="1">Có</option>
		</select><br>
		<label for="suahd">sửa hoạt động</label>
		<select name="suahd">
			<option value="0">Không</option>
			<option value="1">Có</option>
		</select><br>
		<label for="suaad">sửa admin</label>
		<select name="suaad">
			<option value="0">Không</option>
			<option value="1">Có</option>
		</select><br>
		<label for="suatlsv">sửa trợ lí sinh viên</label>
		<select name="suatlsv">
			<option value="0">Không</option>
			<option value="1">Có</option>
		</select><br>
		
		<input type="text" name="taikhoan" placeholder="Tài Khoản"><br>
		<input type="text" name="matkhau" placeholder="Mật khẩu"><br>
		<input type="submit" value="Thêm"><br>
	</form>
	<button id='btn-cancle' onclick="clickbtn();">Hủy</button>
</body>
</html>